In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vernon,CA,2022-02-03 03:36:16,50.2581,-119.2691,21.61,86,100,2.30
1,1,Albany,US,2022-02-03 03:37:16,42.6001,-73.9662,43.38,81,100,3.31
2,2,Bethel,US,2022-02-03 03:37:17,41.3712,-73.4140,39.65,90,75,0.00
3,3,Kamenka,RU,2022-02-03 03:33:52,51.3223,42.7678,31.75,100,100,2.26
4,4,Longyearbyen,SJ,2022-02-03 03:37:17,78.2186,15.6401,15.64,62,0,11.50

In [17]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
gmaps.configure(api_key = g_key)

In [19]:
#Define Max_Temp
max_temp = city_data_df["Max Temp"]

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable, and get rid of negative temp.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip? 85

In [23]:
new_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
new_city_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Labuhan,ID,2022-02-03 03:37:18,-6.8844,112.2051,84.96,68,79,7.11
11,11,Sambava,MG,2022-02-03 03:34:29,-14.2667,50.1667,76.26,80,100,2.86
13,13,Guasdualito,VE,2022-02-03 03:37:20,7.2424,-70.7324,75.20,78,8,1.14
29,29,Kahului,US,2022-02-03 03:37:24,20.8947,-156.4700,81.66,72,20,5.75
43,43,Imbituba,BR,2022-02-03 03:35:04,-28.2400,-48.6703,78.82,90,82,10.67
...,...,...,...,...,...,...,...,...,...,...
545,545,Owando,CG,2022-02-03 03:45:21,-0.4819,15.8999,75.16,74,99,2.71
557,557,Kavaratti,IN,2022-02-03 03:46:25,10.5669,72.6420,79.93,70,12,8.08
562,562,Batticaloa,LK,2022-02-03 03:46:27,7.7102,81.6924,79.07,63,76,1.14
571,571,Moron,AR,2022-02-03 03:46:31,-34.6534,-58.6198,80.35,75,100,12.08
574,574,Qui Nhon,VN,2022-02-03 03:46:32,13.7667,109.2333,77.25,77,76,13.67

In [28]:
new_city_df.isna().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [97]:
hotel_df = new_city_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy().dropna()
hotel_df["Hotel Name"] = ""

In [98]:
import pandas as pd
import requests
import gmaps
import json

from config import g_key

In [55]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "-6.8844	112.2051"}

In [99]:

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": ""}

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # print(params)
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping")
        pass
hotel_df

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Labuhan,ID,84.96,-6.8844,112.2051,DoubleFAG
11,Sambava,MG,76.26,-14.2667,50.1667,Melrose
13,Guasdualito,VE,75.20,7.2424,-70.7324,Hotel Cuibas
29,Kahului,US,81.66,20.8947,-156.4700,Maui Seaside Hotel
43,Imbituba,BR,78.82,-28.2400,-48.6703,Praia Hotel Imbituba
...,...,...,...,...,...,...
545,Owando,CG,75.16,-0.4819,15.8999,Exaunel Hotel Owando
557,Kavaratti,IN,79.93,10.5669,72.6420,Hotels in Lakshadweep Islands
562,Batticaloa,LK,79.07,7.7102,81.6924,Grand Star Guest House
571,Moron,AR,80.35,-34.6534,-58.6198,Hotel Morón
574,Qui Nhon,VN,77.25,13.7667,109.2333,Hoang Yen Canary Hotel

In [105]:
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0) , zoom_level = 1.5)
heat_layter = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)


marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [109]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))