## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [20]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bilma,NE,57.99,clear sky,18.6853,12.9164,Expeditions Ténére voyages
1,2,Punta Arenas,CL,57.22,clear sky,-53.1500,-70.9167,Hotel Hain
2,4,Praia Da Vitoria,PT,57.76,scattered clouds,38.7333,-27.0667,Hotel Branco I
3,6,Rawson,AR,60.49,broken clouds,-43.3002,-65.1023,Hosteria Sampedro
4,8,Esperance,AU,62.44,clear sky,-33.8667,121.9000,Hospitality Esperance

In [21]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

In [99]:
# 4a. Add a marker layer for each city to the map.
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [138]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Portland")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Portland")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Bend")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Saint George")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Fortuna")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
65,200,Fortuna,US,62.19,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [145]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
# stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
# stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]
print(start,end)

(45.5234, -122.6762) (45.5234, -122.6762)

In [148]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key = g_key)

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end,waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [161]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,598,Portland,US,50.45,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
1,598,Portland,US,50.45,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,281,Bend,US,52.47,overcast clouds,44.0582,-121.3153,Fairfield Inn & Suites by Marriott Bend Downtown
3,154,Saint George,US,51.94,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
4,200,Fortuna,US,62.19,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [174]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [177]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))